@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
   body * {
    visibility: hidden;
  }

  .print-area,
  .print-area * {
    visibility: visible;
  }

  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .print-area {
    box-shadow: none !important;
    background: white !important;
  }
}

@media print {
  * {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #000 !important;
  }
}

.pdf-safe * {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255) !important;
  border-color: rgb(0, 0, 0) !important;
}